BlackFireFramework.Unity/Library/
BlackFireFramework.Unity/Temp/
BlackFireFramework.Unity/UnityPackageManager/
BlackFireFramework.Unity/ProjectSettings/AudioManager.asset
BlackFireFramework.Unity/ProjectSettings/
BlackFireFramework.Unity/.vs/
BlackFireFramework.Unity/.idea/*
BlackFireFramework.Unity/Assets/Demo/Resource/Resources/video.mp4
BlackFireFramework.Unity/Assets/Demo/Resource/Resources/video.mp4.meta
BlackFireFramework.Unity/Assets/StreamingAssets/test.*
BlackFireFramework.Unity/Assets/StreamingAssets/test
BlackFireFramework.Unity/Assets/StreamingAssets/StandaloneWindows
BlackFireFramework.Unity/Assets/StreamingAssets/StandaloneWindows.*
BlackFireFramework.Unity/AssetBundles/
BlackFireFramework.Unity/Assets/StreamingAssets.meta
BlackFireFramework.Unity/Assets/BlackFireFramework/Demo/Resource/Resources/video.mp4
BlackFireFramework.Unity/Assets/BlackFireFramework/Demo/Resource/Resources/video.mp4.meta
BlackFireFramework.Unity/Assets/BlackFireFramework/Demo/Ugui/CAAC/
BlackFireFramework.Unity/Assets/Plugins/
BlackFireFramework.Unity/.idea/.idea.BlackFireFramework.Unity/
BlackFireFramework.Unity/Assets/Plugins.meta
BlackFireFramework.Unity/*.sln
BlackFireFramework.Unity/*.csproj
BlackFireFramework.Unity/Packages/*

BlackFireFramework.VS/BlackFireFramework/.vs/
BlackFireFramework.VS/BlackFireFramework/BlackFireFramework/obj/
BlackFireFramework.VS/BlackFireFramework/packages/
BlackFireFramework.VS/BlackFireFramework/BlackFireFramework.Test/bin/
BlackFireFramework.VS/BlackFireFramework/BlackFireFramework.Test/obj/
BlackFireFramework.VS/BlackFireFramework/BlackFireFramework.Server.Package/obj/
BlackFireFramework.VS/BlackFireFramework/BlackFireFramework.Unity/obj/
BlackFireFramework.VS/BlackFireFramework/BlackFireFramework.Hotfix/obj/
BlackFireFramework.VS/BlackFireFramework/.idea/
BlackFireFramework.Unity/Assets/FaceTrackerExample/
BlackFireFramework.Unity/Assets/OpenCVForUnity/
BlackFireFramework.Unity/Assets/StreamingAssets/
BlackFireFramework.Unity/Assets/FaceTrackerExample.meta
BlackFireFramework.Unity/Assets/OpenCVForUnity.meta
