BlackFireFramework.Unity/Library/
BlackFireFramework.Unity/Temp/
BlackFireFramework.Unity/UnityPackageManager/
BlackFireFramework.Unity/ProjectSettings/AudioManager.asset
BlackFireFramework.Unity/ProjectSettings/
BlackFireFramework.Unity/.vs/
