BlackFire/.idea/
BlackFire/bin/
BlackFire/obj/
BlackFire/BlackFire.NetCore/obj/
BlackFire/BlackFire.NetCore/bin/
BlackFire.Doc/Help/
BlackFire/.vs/
BlackFire.Doc/Content/
BlackFire.Doc/icons/
BlackFire.Doc/
